@charset "UTF-8";
:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --branches-bg-color: rgba(47, 48, 58, 0.8);
  --modal-bg-color: rgba(0, 0, 0, 0.2);
  --title-color: #212121;
  --secondary-title-color: #ffffff;
  --text-color: #757575;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --header-border-color: #ececec;
  --hero-hover-color: #188ce8;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --portf-btn-color: #f5f4fa;
  --portf-border-color: #eeeeee;
  --social-icon-color: #afb1b8;
  --social-icon-hover-color: #ffffff;
  --advant-icon-bg-color: #f5f4fa;
  --client-icon-border-color: #afb1b8;
  --footer-icon-bg-color: rgba(255, 255, 255, 0.1);
  --main-font: "Roboto", sans-serif;
  --accent-font: "Raleway", sans-serif;
  --hero-size: 44px;
  --hero-size-mobile: 26px;
  --title-size: 36px;
  --subtitle-size: 18px;
  --note-size: 16px;
  --text-size: 14px;
  --hero-weight: 900;
  --head-weight: 700;
  --secondary-weight: 500;
  --main-weight: 400;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

h1,
h2,
h3,
h4,
li,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--text-color);
  background-color: var(--primary-background-color);
}

body.modal-open {
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 767px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.link {
  font-size: 14px;
  color: var(--title-color);
}

.list {
  padding-left: 0;
  list-style: none;
}

.button {
  font-style: inherit;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

/* названия секций h2*/
.title {
  font-size: var(--title-size);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}

.section__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
  }
}

/* *Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  overflow-y: scroll;
  background-color: var(--modal-bg-color);
  -webkit-transition: visibility 500ms var(--timing-function), opacity 500ms var(--timing-function);
  transition: visibility 500ms var(--timing-function), opacity 500ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity 500ms var(--timing-function), -webkit-transform 500ms var(--timing-function);
  transition: opacity 500ms var(--timing-function), -webkit-transform 500ms var(--timing-function);
  transition: opacity 500ms var(--timing-function), transform 500ms var(--timing-function);
  transition: opacity 500ms var(--timing-function), transform 500ms var(--timing-function), -webkit-transform 500ms var(--timing-function);
  width: 100%;
  min-height: 581px;
  padding: 40px 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-background-color);
}
@media screen and (max-width: 479px) {
  .modal {
    top: 55%;
  }
}
@media screen and (min-width: 480px) and (max-width: 1200px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.backdrop.is-hidden > .modal-wrapper {
  opacity: 0;
  -webkit-transform: translate(-50%, 100%) scale(0.3);
          transform: translate(-50%, 100%) scale(0.3);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--secondary-background-color);
  -webkit-transition: fill 250ms var(--timing-function), border 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), border 250ms var(--timing-function);
}
.modal__close:hover, .modal__close:focus {
  fill: var(--accent-color);
  border: 2px solid var(--accent-color);
  outline: 2px solid var(--accent-color);
  background-color: var(--primary-background-color);
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__label {
  position: relative;
  color: var(--title-color);
}

.modal__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
@media screen and (max-width: 479px) {
  .modal__title {
    margin-bottom: 6px;
    font-size: 16px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1200px) {
  .modal__title {
    line-height: 1.5;
  }
}

.label__input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  -webkit-transition: border-color 300ms var(--timing-function), outline 300ms var(--timing-function);
  transition: border-color 300ms var(--timing-function), outline 300ms var(--timing-function);
  /* *синяя рамка инпута при ховере */
  /* *синяя рамка инпута при фокусе */
}
@media screen and (max-width: 479px) {
  .label__input {
    margin-bottom: 5px;
  }
}
.modal__label:hover .label__input {
  border-color: var(--accent-color);
}
.label__input:focus {
  border-color: var(--accent-color);
  outline: 1px solid var(--accent-color);
}

.label__icon {
  position: absolute;
  top: 45%;
  left: 3%;
  fill: currentColor;
  -webkit-transition: fill 300ms var(--timing-function);
  transition: fill 300ms var(--timing-function);
  /* *синяя иконка инпута при ховере */
  /* *синяя иконка инпута при фокусе */
}
.modal__label:hover .label__icon {
  fill: var(--accent-color);
}
.label__input:focus + .label__icon {
  fill: var(--accent-color);
}

.label__name {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.label__feedback {
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 300ms var(--timing-function), outline 300ms var(--timing-function);
  transition: border-color 300ms var(--timing-function), outline 300ms var(--timing-function);
  /* *синяя рамка поля ввода текста при фокусе */
  /* *синяя рамка поля ввода текста при ховере */
}
@media screen and (max-width: 479px) {
  .label__feedback {
    height: 100px;
    margin-bottom: 6px;
  }
}
.label__feedback::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.label__feedback::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.label__feedback:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.label__feedback::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.label__feedback::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.label__feedback:focus {
  border-color: var(--accent-color);
  outline: 1px solid var(--accent-color);
}
.modal__label:hover .label__feedback {
  border-color: var(--accent-color);
}

.modal__checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}
@media screen and (max-width: 479px) {
  .modal__checkbox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 10px;
  }
}

.checkbox__icon {
  margin-right: 8px;
  border: 2px solid var(--title-color);
  border-radius: 4px;
  width: 15px;
  height: 16px;
  fill: #ffffff;
  -webkit-transition: background-color 250ms var(--timing-function), border-color 300ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), border-color 300ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .checkbox__icon {
    width: 18px;
    height: 18px;
  }
}
.checkbox__label:hover .checkbox__icon {
  border-color: var(--accent-color);
}
.checkbox__input:hover + .checkbox__icon, .checkbox__input:focus + .checkbox__icon {
  border-color: var(--accent-color);
}
.checkbox__input:checked + .checkbox__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.checkbox__text {
  margin-right: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (max-width: 479px) {
  .checkbox__text {
    text-align: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 1200px) {
  .checkbox__text {
    font-size: 12px;
    line-height: 1.16;
  }
}

.checkbox__link {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
}
@media screen and (min-width: 480px) and (max-width: 1200px) {
  .checkbox__link {
    font-size: 12px;
    line-height: 1.16;
  }
}
.checkbox__link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 85%;
  background-color: var(--accent-color);
}

.modal__submit {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 10px 28px 10px 28px;
  min-width: 200px;
  font-weight: var(--head-weight);
  font-size: var(--note-size);
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  -webkit-transition: background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
@media screen and (max-width: 479px) {
  .modal__submit {
    padding: 5px 14px 5px 14px;
  }
}
.modal__submit:hover {
  background-color: var(--hero-hover-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 10, 0.2), 0px 1px 2px rgba(0, 0, 10, 0.28), 0px 2px 2px rgba(0, 0, 10, 0.32);
          box-shadow: 0px 3px 1px rgba(0, 0, 10, 0.2), 0px 1px 2px rgba(0, 0, 10, 0.28), 0px 2px 2px rgba(0, 0, 10, 0.32);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* *Ховер подложки иконок соцсетей */
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__icon {
  fill: var(--social-icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /** Ховер иконок соцсетей */
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: var(--social-icon-hover-color);
}

.social__link-light {
  background-color: var(--primary-background-color);
}

.social__link-dark {
  background-color: var(--footer-icon-bg-color);
}

.join__icon {
  fill: var(--secondary-title-color);
}

/* *Форма в footer * */
.form-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .form-inner {
    margin-left: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 104px;
  }
}
.form-inner__slogan {
  display: block;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: var(--head-weight);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.form-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .form-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.form-footer__label {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .form-footer__label {
    margin-right: 12px;
  }
}

.form-footer__input {
  width: 100%;
  min-height: 50px;
  padding-left: 20px;
  background-color: transparent;
  font-weight: var(--main-weight);
  font-size: var(--note-size);
  line-height: 1.25px;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
}
.form-footer__input:hover {
  border: 2px solid rgba(255, 255, 255, 0.7);
}
.form-footer__input::-webkit-input-placeholder {
  font-weight: var(--main-weight);
  font-size: var(--note-size);
  line-height: 1.25px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer__input::-moz-placeholder {
  font-weight: var(--main-weight);
  font-size: var(--note-size);
  line-height: 1.25px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer__input:-ms-input-placeholder {
  font-weight: var(--main-weight);
  font-size: var(--note-size);
  line-height: 1.25px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer__input::-ms-input-placeholder {
  font-weight: var(--main-weight);
  font-size: var(--note-size);
  line-height: 1.25px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer__input::placeholder {
  font-weight: var(--main-weight);
  font-size: var(--note-size);
  line-height: 1.25px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 767px) {
  .form-footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-footer__input {
    width: 358px;
  }
}

.form-footer__button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  padding: 10px 52px 10px 28px;
  min-width: 200px;
  font-weight: var(--head-weight);
  font-size: var(--note-size);
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  -webkit-transition: background-color 350ms var(--timing-function), -webkit-box-shadow 350ms var(--timing-function);
  transition: background-color 350ms var(--timing-function), -webkit-box-shadow 350ms var(--timing-function);
  transition: background-color 350ms var(--timing-function), box-shadow 350ms var(--timing-function);
  transition: background-color 350ms var(--timing-function), box-shadow 350ms var(--timing-function), -webkit-box-shadow 350ms var(--timing-function);
}
.form-footer__button:hover, .form-footer__button:focus {
  background-color: var(--hero-hover-color);
  -webkit-box-shadow: 0px 0px 4px 1px rgba(176, 206, 252, 0.5);
          box-shadow: 0px 0px 4px 1px rgba(176, 206, 252, 0.5);
}
@media screen and (min-width: 1200px) {
  .form-footer__button {
    margin-top: 0;
  }
}

.form-footer__icon {
  position: absolute;
  top: 50%;
  left: 84%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 350ms var(--timing-function);
  transition: -webkit-transform 350ms var(--timing-function);
  transition: transform 350ms var(--timing-function);
  transition: transform 350ms var(--timing-function), -webkit-transform 350ms var(--timing-function);
  fill: var(--secondary-title-color);
}
.form-footer__button:hover .form-footer__icon, .form-footer__button:focus .form-footer__icon {
  -webkit-transform: translate(165%, -215%);
          transform: translate(165%, -215%);
}

.logo {
  font-family: var(--accent-font);
  font-weight: var(--head-weight);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.logo-dark {
  color: var(--logo-color);
}

.logo-light {
  color: var(--primary-background-color);
}

.logo__accent {
  color: var(--accent-color);
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 48px 40px;
  background-color: var(--primary-background-color);
  -webkit-transition: visibility 300ms var(--timing-function), opacity 300ms var(--timing-function);
  transition: visibility 300ms var(--timing-function), opacity 300ms var(--timing-function);
}
@media screen and (max-width: 450px) {
  .mobile-menu {
    padding: 8px 40px;
  }
}
.mobile-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .mobile-menu__contacts-inner {
    margin-top: auto;
  }
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.menu__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 767px) {
  .menu__button {
    display: none;
  }
}

.icon-open {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__button-open:hover .icon-open {
  fill: var(--accent-color);
}
.menu__button-open:focus .icon-open {
  fill: var(--accent-color);
}

.menu__button-close {
  position: absolute;
  top: 10px;
  right: 8px;
}

.icon-close {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__button-close:focus .icon-close {
  fill: var(--accent-color);
}

.mobile-menu__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
  color: var(--accent-color);
}

.mobile-menu__nav-link-current {
  color: var(--accent-color);
}

.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-tell {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (max-width: 380px) {
  .mobile-menu__contacts-tell {
    font-size: 24px;
  }
}

.mobile-menu__contacts-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.mobile-menu__socials {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media screen and (max-width: 479px) {
  .mobile-menu__socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 15px;
  }
}

.mobile-menu__socials-item {
  border-right: 2px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 0;
  margin-right: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 479px) {
  .mobile-menu__socials-item {
    width: 100px;
    margin-right: 0;
  }
  .mobile-menu__socials-item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 480px) {
  .mobile-menu__socials-item:last-child {
    border: none;
  }
}

.mobile-menu__socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header {
  position: relative;
  border-bottom: 1px solid var(--header-border-color);
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/** кнопки навигации **/
.nav__link {
  position: relative;
  display: block;
  font-weight: var(--secondary-weight);
  line-height: 1.14;
  letter-spacing: 0.02em;
  /**Полоска под кнопками навигации*/
}
.nav__link::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.nav__link:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.nav__link:focus::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/** ссылки в header  */
.header__link {
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}
.header__link-current {
  color: var(--accent-color);
}
.header__link-current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/** адрес в header **/
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: var(--secondary-weight);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .header__contacts-top {
    padding-top: 20px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .header__contacts-bottom {
    padding-bottom: 20px;
  }
}

/** Header в строку **/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.nav__address {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 767px) {
  .nav__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .nav__address {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav__list {
  margin-left: 93px;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}

.address__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.address {
  font-style: inherit;
}

.address-top {
  margin-left: auto;
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
  /**Цвет иконок адреса в header при ховере */
}
.header__contacts:hover .header__icon {
  fill: currentColor;
}
.header__contacts:focus .header__icon {
  fill: currentColor;
}

.hero {
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--hero-background-color);
  background-image: var(--gradient), url(../images/hero/bg-480.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(../images/hero/bg-480@2x.jpg);
  }
}
@media screen and (min-width: 767px) {
  .hero {
    width: 100%;
    background-image: var(--gradient), url(../images/hero/bg-1200.jpg);
  }
}
@media screen and (min-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(../images/hero/bg-1200@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: var(--gradient), url(../images/hero/bg-1200.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(../images/hero/bg-1200@2x.jpg);
  }
}

/** заголовок героя h1*/
.hero__title {
  margin: 0 auto 30px;
  text-align: center;
  width: 100%;
  font-weight: var(--hero-weight);
  font-size: var(--hero-size-mobile);
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
@media screen and (min-width: 767px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: var(--hero-size);
    line-height: 1.36;
  }
}

/** кнопка героя */
.hero__button {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 10px 24px 10px 24px;
  min-width: 200px;
  font-weight: var(--head-weight);
  font-size: var(--note-size);
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--hero-hover-color);
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 28px 10px 52px;
  }
}

.hero__icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  fill: var(--secondary-title-color);
}
.hero__button:hover .hero__icon {
  -webkit-transform: translate(-55%, -195%);
          transform: translate(-55%, -195%);
}
@media screen and (min-width: 1200px) {
  .hero__icon {
    display: block;
  }
}

.hero__icon-hovered {
  display: none;
  position: absolute;
  top: 50%;
  left: 15%;
  -webkit-transform: translate(-54%, 90%);
          transform: translate(-54%, 90%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  fill: var(--secondary-title-color);
}
.hero__button:hover .hero__icon-hovered {
  -webkit-transform: translate(-55%, -50%);
          transform: translate(-55%, -50%);
}
@media screen and (min-width: 1200px) {
  .hero__button:hover .hero__icon-hovered {
    display: block;
  }
}

.advant__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: var(--advant-icon-bg-color);
  border-radius: 4px;
}

.advant__title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: var(--head-weight);
  font-size: var(--text-size);
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
@media screen and (min-width: 767px) {
  .advant__title {
    text-align: left;
  }
}

.advant__item {
  width: 100%;
}
@media screen and (min-width: 767px) {
  .advant__item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advant__item {
    -ms-flex-preferred-size: calc(25% - 23px);
        flex-basis: calc(25% - 23px);
  }
}

/* текст преимущества p */
.advant__text {
  font-size: var(--text-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.branches {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .branches {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.brunches__text-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0px;
  background: var(--branches-bg-color);
}

.brunches__text {
  display: inline-block;
  font-weight: var(--head-weight);
  font-size: var(--text-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.branches__item {
  position: relative;
  min-width: 270px;
  -ms-flex-preferred-size: calc(33.3333333333% - 20px);
      flex-basis: calc(33.3333333333% - 20px);
  /* outline: 2px solid yellow; */
}

.team {
  background-color: var(--secondary-background-color);
  /* имя фамилия h2 */
  /* должности p */
}
.team__item {
  width: 100%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background-color);
}
@media screen and (min-width: 767px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}
.team__info {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__info {
    padding-bottom: 30px;
  }
}
.team__name {
  margin-bottom: 10px;
  font-weight: var(--secondary-weight);
  font-size: var(--note-size);
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}
.team__descr {
  margin-bottom: 16px;
  font-size: var(--note-size);
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.client__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 767px) {
  .client__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 767px) and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 150px) / 6);
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--social-icon-color);
  fill: var(--social-icon-color);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* *Ховер бордера постоянных клиентов */
}
.client__link:hover, .client__link:focus {
  border-color: var(--accent-color);
}

.client__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* *Ховер иконки постоянных клтиентов */
}
.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--title-color);
}

.footer__container {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (min-width: 767px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .footer__test {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__test {
    margin-bottom: 0px;
  }
}

.footer__address-inner {
  margin-bottom: 60px;
}
@media screen and (min-width: 767px) {
  .footer__address-inner {
    margin-bottom: 0px;
  }
}

.footer__logo {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: start;
  }
}

.footer__item {
  display: block;
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address-bottom {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address-bottom {
    text-align: start;
  }
}

.footer__address {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
}

.footer__contacts {
  line-height: 1.71;
  color: var(--footer-address-color);
}

.footer__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}

.footer__inner {
  display: block;
  width: 206px;
}
@media screen and (min-width: 767px) {
  .footer__inner {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__inner {
    margin-left: 70px;
  }
}

.footer__slogan {
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: var(--head-weight);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
@media screen and (min-width: 1200px) {
  .footer__slogan {
    text-align: left;
  }
}

.filter__btn {
  padding: 6px 22px;
  font-weight: var(--secondary-weight);
  font-size: var(--note-size);
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--secondary-background-color);
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
@media screen and (max-width: 479px) {
  .filter__btn {
    padding: 6px 8px;
  }
}
.filter__btn:hover, .filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__btn:focus {
  outline: 2px solid rgba(29, 28, 28, 0.521);
}
.filter__btn-current {
  color: var(--portf-btn-color);
  background-color: var(--accent-color);
}

.filter__list {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 767px) {
  .filter__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__item:nth-child(-n+3) {
  margin-bottom: 15px;
}

/* *========Карточки портфолио========== */
.cards__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
@media screen and (min-width: 767px) {
  .cards__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .cards__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
.cards__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.cards__link:focus {
  outline: 2px solid rgba(29, 28, 28, 0.274);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards__name {
  margin-bottom: 4px;
  font-weight: var(--head-weight);
  font-size: var(--subtitle-size);
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.cards__descr {
  font-size: var(--note-size);
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.cards__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 2px solid var(--portf-border-color);
}
@media screen and (min-width: 767px) and (max-width: 1200px) {
  .cards__border {
    padding-right: 37px;
  }
}

.cards__dropdown {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.dropdown__text-hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  overflow-y: scroll;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(125%);
          transform: translateY(125%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.cards__item:hover .dropdown__text-hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.cards__link:focus .dropdown__text-hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}/*# sourceMappingURL=main.css.map */