/* *Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  overflow-y: scroll;
  background-color: var(--modal-bg-color);
  transition: visibility 500ms var(--timing-function), opacity 500ms var(--timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  transition: opacity 500ms var(--timing-function), transform 500ms var(--timing-function);
  width: 100%;
  min-height: 581px;
  padding: 40px 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-background-color);

  @include start {
    top: 55%;
  }

  @include mobile-tablet {
    width: 450px;
  }

  @include desktop {
    width: 528px;
  }
}

.backdrop.is-hidden > .modal-wrapper {
  opacity: 0;
  transform: translate(-50%, 100%) scale(0.3);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--secondary-background-color);
  transition: fill 250ms var(--timing-function), border 250ms var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 2px solid var(--accent-color);
    outline: 2px solid var(--accent-color);
    background-color: var(--primary-background-color);
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  position: relative;
  color: var(--title-color);
}

.modal__title {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;

  color: #212121;

  @include start {
    margin-bottom: 6px;
    font-size: 16px;
  }

  @include mobile-tablet {
    line-height: 1.5;
  }
}

.label__input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  transition: border-color 300ms var(--timing-function), outline 300ms var(--timing-function);

  @include start {
    margin-bottom: 5px;
  }

  /* *синяя рамка инпута при ховере */
  .modal__label:hover & {
    border-color: var(--accent-color);
  }

  /* *синяя рамка инпута при фокусе */
  &:focus {
    border-color: var(--accent-color);
    outline: 1px solid var(--accent-color);
  }
}

.label__icon {
  position: absolute;
  top: 45%;
  left: 3%;
  fill: currentColor;
  transition: fill 300ms var(--timing-function);

  /* *синяя иконка инпута при ховере */
  .modal__label:hover & {
    fill: var(--accent-color);
  }

  /* *синяя иконка инпута при фокусе */
  .label__input:focus + & {
    fill: var(--accent-color);
  }
}

.label__name {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;

  color: var(--text-color);
}

.label__feedback {
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 300ms var(--timing-function), outline 300ms var(--timing-function);

  @include start {
    height: 100px;
    margin-bottom: 6px;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  /* *синяя рамка поля ввода текста при фокусе */
  &:focus {
    border-color: var(--accent-color);
    outline: 1px solid var(--accent-color);
  }

  /* *синяя рамка поля ввода текста при ховере */
  .modal__label:hover & {
    border-color: var(--accent-color);
  }
}

.modal__checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
  // outline: 2px dashed teal;

  @include start {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
}

.checkbox__icon {
  margin-right: 8px;
  border: 2px solid var(--title-color);
  border-radius: 4px;
  width: 15px;
  height: 16px;
  fill: #ffffff;
  transition: background-color 250ms var(--timing-function), border-color 300ms var(--timing-function);

  @include desktop {
    width: 18px;
    height: 18px;
  }

  .checkbox__label:hover & {
    border-color: var(--accent-color);
  }

  .checkbox__input:hover + &,
  .checkbox__input:focus + & {
    border-color: var(--accent-color);
  }

  .checkbox__input:checked + & {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
  }
}

.checkbox__text {
  margin-right: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;

  @include start {
    text-align: center;
  }

  @include mobile-tablet {
    font-size: 12px;
    line-height: 1.16;
  }
}

.checkbox__link {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;

  @include mobile-tablet {
    font-size: 12px;
    line-height: 1.16;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 85%;
    background-color: var(--accent-color);
  }
}

.modal__submit {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 28px 10px 28px;
  min-width: 200px;
  font-weight: var(--head-weight);
  font-size: var(--note-size);
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);

  @include start {
    padding: 5px 14px 5px 14px;
  }

  &:hover {
    background-color: var(--hero-hover-color);
    box-shadow: 0px 3px 1px rgb(0 0 10 / 20%), 0px 1px 2px rgb(0 0 10 / 28%), 0px 2px 2px rgb(0 0 10 / 32%);
  }
}
