:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --branches-bg-color: rgba(47, 48, 58, 0.8);
  --modal-bg-color: rgba(0, 0, 0, 0.2);

  --title-color: #212121;
  --secondary-title-color: #ffffff;
  --text-color: #757575;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --header-border-color: #ececec;
  --hero-hover-color: #188ce8;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --portf-btn-color: #f5f4fa;
  --portf-border-color: #eeeeee;

  --social-icon-color: #afb1b8;
  --social-icon-hover-color: #ffffff;
  --advant-icon-bg-color: #f5f4fa;
  --client-icon-border-color: #afb1b8;
  --footer-icon-bg-color: rgba(255, 255, 255, 0.1);

  --main-font: "Roboto", sans-serif;
  --accent-font: "Raleway", sans-serif;
  --hero-size: 44px;
  --hero-size-mobile: 26px;
  --title-size: 36px;
  --subtitle-size: 18px;
  --note-size: 16px;
  --text-size: 14px;
  --hero-weight: 900;
  --head-weight: 700;
  --secondary-weight: 500;
  --main-weight: 400;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
